div {
  font-family: "Poppins", "Inter", system-ui;
  color: #ffffff;
  background-color: #030303;
  max-width: 600px;
  margin: 0;
  text-align: center;
}

.venue-name {
  margin-bottom: 20px;
}

.setting-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  /* gap: 10px;  */
}
.setting-item > div {
  flex: 1;
  margin-right: 10px; /* Adjust the value as needed */
}

.radio-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: left;
}

label {
  margin-right: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ffffff;
  background-color: #030303;
  color: #ffffff;
  text-align: center;
}

/* input[type="number"] {
  margin: 0;
  width: 100%;
} */

.regular-amounts {
  display: flex;
  gap: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", "Inter", system-ui;
  background-color: #6741d9;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

button:hover,
button:active {
  border-color: #f0c3f1;
}

.bar-graph {
  display: flex;
  margin-top: 100px; 
  align-items: flex-start;
  height: 350px
}

.bar {
  width: 40px; 
  flex-grow: 1;
  background-color: #f0c3f1;
  margin-right: 5px;
  align-self: flex-end
}

.y-axis{
  border-right: 2px solid #ffffff; 
  height: 100%;
  font-size: 40px;
}
.x-axis{
  border-top: 2px solid #ffffff; 
  width: 100%;
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
} 